# seconds, message
1   Eepy Deepy?
20  Eepy Deepy Schmeepies?
15  Eepy Deepy Schmeepy Beepies ??
10  Eepy Deepy Schmeepy Beepy Peepies ?!
10  Eepy Deepy Schmeepy Beepy Peepy ... Sleepies ?!?
10  EEPY DEEPY SCHMEEPY BEEPY PEEPY SLEEPY WEEPY FLEEPIES ?!?!?
15  schmeepy ?
60  Look ! 🦆 It's a little ducky !
15  🦆 ducky's eyelids are growing very heavy ....
10  I reckon, the ducky should come home and go to bed 🛌
10   It's very cosy in the ducky nest right now 🐣, you should also go to bed.
10   The ducky is waiting for you to come to bed and sleep, so it can go to sleep too.
10   Ducky can't go to sleep because it's waiting for you to go to bed.
30  Did you know that if ducks don't get any sleep, they die ?
10  You don't want this cute little ducky 🦆 to DIE ☠️, do you ?
10   The little ducky is on death's doorstep now.  Any minute now, ducky will die, and it'll all be your fault.
10   ☠️
5   ⚰️
5   🪦
5   🔥🔥🔥🔥🔥🔥
5   😢😢😢😢😢😢
5  That's all going to happen if you don't come to bed RIGHT NOW.
30 YOU'RE A MONSTER !!!!
5  GO TO BED !!!!!
5  DO YOU WANT ALL THE DUCKIES TO DIE !?! HUH ?????
